@using WebApplicationOpenRedirectAttacks.Models

@model TestRedirect

@{
    ViewBag.Title = "TestRedirect";
}

<h2>TestRedirect</h2>

<button id="Redirect">Redirect</button>

<script>
    $(function () {
        $('#Redirect').click(function () {
            document.location.href = '@Model.Url';
        });
    });
</script>